:root {
  --abu-abu-dashboard: #434c5e;
  --abu-abu-font: #a3a9b8;
  --biru: #5e81ac;
  --biru-click: #789ec1;
  --hijau-user: #a3be8c;
  --merah-del: #bf616a;
  --kuning-edit: #ebcb8b;
  --putih-bg: #f5f6fa;
}
